.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    padding: 5px 10px;
    color: black;
    background-color:whitesmoke ;
    border: 2px solid white;
    border-radius: 11px;
    cursor: pointer;
    font-family: "Lato", sans-serif

}
.cart{
    padding: 5px 10px;
    color: black;
    background-color:black ;
    border: 2px solid black;
    border-radius: 11px;
    cursor: pointer;
    font-family: "Lato", sans-serif


}
.login{
    padding: 10px 20px;
    color: blue;
    background-color:black ;
    border: 2px solid black;
    border-radius: 11px;
    cursor: pointer;
    font-family: "Lato", sans-serif

}